{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Contact Us - NexJob</title>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Contact_us.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <a href="{% url 'home' %}"><i class="fa-solid fa-briefcase"></i></a>
                <h2>NexJob</h2>
            </div>

            <ul class="nav-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}" class="active">Contact</a></li>
            </ul>

            <button
                id="darkModeToggle"
                class="dark-mode-toggle"
                aria-label="Toggle dark mode"
            >
                <i class="fas fa-moon"></i>
            </button>

            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
    
    <main class="main-content">
        <h2>Contact Us</h2>
        <p>
            If you have any questions or feedback, feel free to contact us using the
            form below.
        </p>
        <br />
        
        <section>
            <div class="contact-form-container">
                <h3>Send Us a Message</h3>
                <form action="#" method="get">
                    <label for="name">Full Name:<span class="required">*</span></label>
                    <input type="text" id="name" name="name" required />
                    
                    <label for="email">Email Address:<span class="required">*</span></label>
                    <input type="email" id="email" name="email" required />
                    
                    <label for="subject">Subject:<span class="required">*</span></label>
                    <input type="text" id="subject" name="subject" required />
                    
                    <label for="message">Message:<span class="required">*</span></label>
                    <textarea
                        id="message"
                        name="message"
                        rows="6"
                        cols="50"
                        required
                    ></textarea>
                    
                    <button type="submit" class="submit-btn" value="Send Message">
                        <i class="fas fa-paper-plane"></i>
                        Send Message
                    </button>
                    <input type="reset" value="Clear Form" />
                </form>
            </div>
        </section>
        
        <section>
            <div class="contact-info-container">
                <h3>Other Contact Information</h3>
                <p>Email: support@NexJob.com</p>
                <p>Phone: +20 000 000 0000</p>
                <p>Address: Giza, Egypt</p>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="about">
                <div class="about-content">
                    <div class="icon">
                        <i class="main-icon fa-solid fa-briefcase"></i>
                        <h2>NexJob</h2>
                    </div>
                    <br />
                </div>
                <p class="copy-right">&copy; 2026 NexJob. All rights reserved</p>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/Contact_us.js' %}"></script>
</body>
</html>